* {
    margin: 0;
    padding: 0;
}

/* 模糊背景是CodingStartup发布的代码 */
body {

    margin: 0;
    min-height: 100vh;
    background-color: #009de5;
    background-image:
        radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, rgb(119, 78, 255), rgba(243, 11, 164, 0)),
        radial-gradient(closest-side, rgb(130, 25, 210), rgba(130, 25, 210, 0)),
        radial-gradient(closest-side, rgba(170, 142, 245, 1), rgba(170, 142, 245, 0)),
        radial-gradient(closest-side, rgba(248, 192, 147, 1), rgba(248, 192, 147, 0));
    background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    background-position:
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 10s movement linear infinite;
}

/* 加个动效效果，是CodingStartup发布的代码 */
@keyframes movement {

    0%,
    100% {
        background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
    }

    25% {
        background-size:
            100vmax 100vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            60vmax 60vmax;
        background-position:
            -60vmax -90vmax,
            50vmax -40vmax,
            0vmax -20vmax,
            -40vmax -20vmax,
            40vmax 60vmax;
    }

    50% {
        background-size:
            80vmax 80vmax,
            110vmax 110vmax,
            80vmax 80vmax,
            60vmax 60vmax,
            80vmax 80vmax;
        background-position:
            -50vmax -70vmax,
            40vmax -30vmax,
            10vmax 0vmax,
            20vmax 10vmax,
            30vmax 70vmax;
    }

    75% {
        background-size:
            90vmax 90vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            70vmax 70vmax;
        background-position:
            -50vmax -40vmax,
            50vmax -30vmax,
            20vmax 0vmax,
            -10vmax 10vmax,
            40vmax 60vmax;
    }
}

.gallery {
    margin: 0px 6%;
    /* 设置上边距和左右边距为页面宽度的 10% */
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.image-card {
    flex-basis: calc(100% / 7 - 60px);
    display: inline-block;
    margin: 10px;
    /*边距*/
    background-color: transparent;
    padding: 10px;
    /*填充*/
    transition: transform 0.3s ease;
    /*过渡，轻松变换0.3s*/
    text-align: center;
    /*文本对齐居中*/
}

.image-card:hover {
    transform: scale(1.2);
}

.image-card a {
    display: block;
    text-decoration: none;
}

.image-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    /*圆角*/
}

.image-card span {
    display: block;
    text-align: center;
    margin-top: 2px;
    color: rgb(255, 255, 255);
    /* 将文本颜色设置为白色 */
}




/*nav的部分是导航的css*/
nav {
    /*display,margin-left,margin-right设置为居中对齐*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 696px;
    height: 50px;
    /*设置圆角*/
    border-radius: 25px;
    /*设置阴影，第一个数是阴影右移动，第二个数是下移动，第三个数是模糊*/
    box-shadow: 1px 1px 10px rgba(0, 57, 180, 0.1);
}

nav a {
    position: relative;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 50px;

    height: 50px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    /* 先停用background-color: #fff; */
    z-index: 10;
}

nav a:nth-child(1) {
    width: 116px;
}

nav a:nth-child(2) {
    width: 116px;
}

nav a:nth-child(3) {
    width: 116px;
}

nav a:nth-child(4) {
    width: 116px;
}

nav a:nth-child(5) {
    width: 116px;
}

nav a:nth-child(6) {
    width: 116px;
}

/*导航条的滑动块*/
nav .animation {
    position: absolute;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    border-radius: 25px;
    transition: all 0.3s;
}

/* 设置滑块的初始位置 */
.start-page1,
nav a:nth-child(1):hover~.animation {
    width: 116px;
    left: 0px;
}

.start-page2,
nav a:nth-child(2):hover~.animation {
    width: 116px;
    left: 116px;
}

.start-page3,
nav a:nth-child(3):hover~.animation {
    width: 116px;
    left: 232px;
}

.start-page4,
nav a:nth-child(4):hover~.animation {
    width: 116px;
    left: 348px;
}

.start-page5,
nav a:nth-child(5):hover~.animation {
    width: 116px;
    left: 464px;
}

.start-page6,
nav a:nth-child(6):hover~.animation {
    width: 116px;
    left: 580px;
}